@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#02040a] text-cyan-50 antialiased overflow-hidden selection:bg-cyan-500/30 selection:text-cyan-200;
  }
}

/* Aurora Background */
.bg-aurora {
  background:
    radial-gradient(at 0% 0%, hsla(253, 16%, 10%, 1) 0, transparent 50%),
    radial-gradient(at 50% 0%, hsla(225, 39%, 10%, 1) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsla(339, 49%, 15%, 1) 0, transparent 50%);
}

@keyframes aurora-1 {

  0%,
  100% {
    top: 0;
    transform: translateX(0);
  }

  50% {
    top: -20px;
    transform: translateX(20px);
  }
}

@keyframes aurora-2 {

  0%,
  100% {
    bottom: 0;
    transform: translateX(0);
  }

  50% {
    bottom: -20px;
    transform: translateX(-20px);
  }
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(30px, -50px) scale(1.1);
  }

  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}